<h1>Details of the routine</h1>
{{!-- <h1>{{plan.name}}</h1>
{{#if plan.imagePlan}}
  <img src="{{plan.imagePlan}}" alt="Workout Motivation" width="300">
{{else}}
  <p>This plan doesn't have an image</p>
{{/if}}
<br>
<h4>Description: </h4>
<p>{{plan.description}}</p>
<form action="/plans/{{plan._id}}/add-routine">
    <button type="submit">CREATE SESSION</button><br>
</form> --}}