<div class="session-page">
  <div class="session-header">
    <h1>Welcome to session {{session.session}}</h1>
    {{#if session.imageSession}}
      <img class="session-img"src="{{session.imageSession}}" alt="Workout Motivation" width="300">
    {{else}}
      <p>This session doesn't have an image</p>
    {{/if}}
  </div>
  <h4>Education: </h4>
  <p>{{session.education}}</p> <br>
  <h4>Tips: </h4>
  <p>{{session.tips}}</p> <br>

  {{!-- {{> progressRoutine}} --}}
  {{#if showForm}}
  <section>
    <form action="/session/{{session._id}}/{{session.session}}" method="post" id='routine-form' > 
      <fieldset><legend>Track Activity</legend>
        <label for="">Session</label>
        <input type="Number" name="session" class="input-form-session" value={{session.session}}><br>

        <label for="">Water : 8 glasses</label>
        <input class="input-form-session" type="Number" name="water" class="the-calories" >

        <label for="">Calories : 2000 cal</label>
        <input class="input-form-session" type="Number" name="calories" class="the-water">

        <label for="">Sleep : 8 hours/day</label>
        <input class="input-form-session" type="Number" name="sleep" class="the-sleep">

        <label for="">Exercise : 60 minutes</label>
        <input class="input-form-session" type="Number" name="exercise" class="the-exercise">
        <button type="submit" id="routine-button">Save Changes</button>
    </form>
  </section>
  {{/if}}
  <button type="submit" id="getButton">Progress Chart</button>
  <canvas id="routine-chart"></canvas>

  {{!-- {{> feedbackRoutine}} --}}
  <div id="respond" class="comment-respond">
      <h3 id="reply-title" class="comment-reply-title">Leave a Comment <small><a rel="nofollow" id="cancel-comment-reply-link" href="/21-day-summer-slim-down-challenge/#respond" style="display:none;">Cancel Comment</a></small>
      </h3>			
      <form action="/feedback/{{session._id}}/add-review" method="post" id="commentform" class="comment-form" >
          <p class="comment-form-comment"><textarea id="comment" placeholder="Add your comment" name="comment" cols="45" rows="8" aria-required="true"></textarea></p>
      
          <p class="form-submit">
            <input name="submit" type="submit" id="submit" class="submit" value="Post Comment"> 
            <input type="hidden" name="comment_post_ID" value="393718" id="comment_post_ID">
            <input type="hidden" name="comment_parent" id="comment_parent" value="0">
          </p>	
      </form>
  </div>


  {{#if session.feedbacks}}
    <div id="feed" class="tab-pane">
          <div class="profile-activity clearfix">
            <div>
            {{#each session.feedbacks}}
              <img class="pull-left" alt="'s avatar" src="http://bootdey.com/img/Content/avatar/avatar1.png">
              <p class="user"> <b>{{ this.user.fullName }}: </b> {{ this.comment }} </p>
              {{#if this.canBeChanged}}
                <form action="/feedback/{{this._id}}/delete" method="POST">
                  <button type="submit">DELETE</button>
                </form>
              {{/if}}
            {{/each}}
            </div>
          </div>
    </div>
  {{/if}}
</div>






