<h4>Add Feedback {{session._id}}</h4>
<form action="/feedback/{{session._id}}/add-review" method="POST">   
    <textarea name="comment" id="" cols="30" rows="10"></textarea>
    <button type="submit">Add</button>
</form>


{{#if session.feedbacks}}
    <h4>Feedback: </h3>
    {{#each session.feedbacks}}
        <p> <b>{{ this.user.fullName }} said: </b> {{ this.comment }} </p>
        {{!-- {{#if this.canBeChanged}}
        <a href="/reviews/{{this._id}}">Edit</a>
          <form action="/reviews/{{this._id}}" method="POST">
            <button type="submit">Delete</button>
          </form>
      {{/if}} --}}
    {{/each}}
{{/if}}