<h2>Feedback</h2>
<form action="/feedback/{{plan._id}}/add-review" method="POST">   
    <textarea name="comment" id="" cols="30" rows="10"></textarea>
    <button type="submit">Add</button>
</form>


{{#if plan.reviews}}
    <h3>Feedback: </h3>
    {{#each plan.reviews}}
        <p> <b>{{ this.user.fullName }} said: </b> {{ this.comment }} </p>
        {{!-- {{#if this.canBeChanged}}
        <a href="/reviews/{{this._id}}">Edit</a>
          <form action="/reviews/{{this._id}}" method="POST">
            <button type="submit">Delete</button>
          </form>
      {{/if}} --}}
    {{/each}}
{{/if}}