{{#if user}}
<div class="mainbody container-fluid">
    <div class="row">
        <div style="padding-top:50px;"> </div>
        <div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="media">
                        <div align="center">
                            <img class="thumbnail img-responsive" src="{{user.imageUrl}}" width="300px" height="300px">
                        </div>
                        <div class="media-body">
                            <hr>
                            <h3><strong>Bio</strong></h3>
                            <p>{{user.bio}}</p>
                            <hr>
                            <h3><strong>Gender</strong></h3>
                            <p>{{user.gender}}</p>
                            <hr>
                            <h3><strong>Age</strong></h3>
                            <p>{{user.age}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <span>
                        <h1 class="panel-title pull-left" style="font-size:30px;">{{user.fullName}} <small>{{user.email}}</small> <i class="fa fa-check text-success" aria-hidden="true" data-toggle="tooltip" data-placement="bottom"></i></h1>
                        <div class="dropdown pull-right">
                            <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Plans
                                <span class="caret"></span>
                            </button>
                            {{!-- <ul class="dropdown-menu" aria-labelledby="dropdownMenu1"> --}}
                              <ul class="dropdown"></ul>
                              {{#each user.plan}}
                                <li><a href="/plans/{{this._id}}">{{this.name}}</a></li>
                              {{/each}}
                                {{!-- <li role="separator" class="divider"></li>
                                <li><a href="#"><i class="fa fa-fw fa-plus" aria-hidden="true"></i> Add a new aspect</a></li> --}}
                            </ul>
                        </div>
                    </span>
                    <br><br>
                    <br><br><hr>
                    <span class="pull-left">
                        <a href="/user/profile" class="btn btn-link" style="text-decoration:none;"><i class="fa fa-fw fa-files-o" aria-hidden="true"></i> Progress</a>
                        <a href="/user/profile" class="btn btn-link" style="text-decoration:none;"><i class="fa fa-fw fa-picture-o" aria-hidden="true"></i> Feedback</a>
                        <a href="/user/profile" class="btn btn-link" style="text-decoration:none;"><i class="fa fa-fw fa-users" aria-hidden="true"></i> Workouts </a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
{{/if}}