{{#each plans}}
<div id="fh5co-portfolio">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Plans</h2>
					<p>We’ll supply you with new recipes, workouts, and tips each week. For best results, try to exercise for at least 30 minutes, 6 days per week.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="fh5co-portfolio animate-box">
						<a href="#">
							<div>
                <img src="{{this.imagePlan}}" alt="Plan Image" width="300">
              </div>
							<div class="portfolio-text">
								<h3><a href="/plans/{{this._id}}">  {{this.name}} </a> </h3>
                {{!-- <img src="{{this.imagePlan}}" alt="Plan Image" width="300"> --}}
                <h4><b>Description:</b></h4>
                <p>{{this.description}}</p>
                <li><a href="/plans/{{this._id}}">Read More<i class="icon-arrow-right22"></i></a></li>
                 {{!-- Edit Route --}}
                <form action="/plans/{{this._id}}/update">
                  <button type="submit">EDIT</button>
                </form>
                {{!-- Delete Route --}}
                <form action="/plans/{{this._id}}/delete" method="POST">
                  <button type="submit">DELETE</button>
                </form>
								<ul class="stuff">
									<li><i class="icon-heart2"></i>200</li>
									<li><i class="icon-eye2"></i>248</li>
									<li><i class="icon-download3"></i>240</li>
								</ul>
							</div> 
						</a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="fh5co-portfolio animate-box">
						<a href="#">
							<div>
                <img src="{{this.imagePlan}}" alt="Plan Image" width="300">
              </div>
							<div class="portfolio-text">
								<h3><a href="/plans/{{this._id}}">  {{this.name}} </a> </h3>
                {{!-- <img src="{{this.imagePlan}}" alt="Plan Image" width="300"> --}}
                <h4><b>Description:</b></h4>
                <p>{{this.description}}</p>
                <li><a href="/plans/{{this._id}}">Read More<i class="icon-arrow-right22"></i></a></li>
                 {{!-- Edit Route --}}
                <form action="/plans/{{this._id}}/update">
                  <button type="submit">EDIT</button>
                </form>
                {{!-- Delete Route --}}
                <form action="/plans/{{this._id}}/delete" method="POST">
                  <button type="submit">DELETE</button>
                </form>
								<ul class="stuff">
									<li><i class="icon-heart2"></i>200</li>
									<li><i class="icon-eye2"></i>248</li>
									<li><i class="icon-download3"></i>240</li>
								</ul>
							</div> 
						</a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="fh5co-portfolio animate-box">
						<a href="#">
							<div>
                <img src="{{this.imagePlan}}" alt="Plan Image" width="300">
              </div>
							<div class="portfolio-text">
								<h3><a href="/plans/{{this._id}}">  {{this.name}} </a> </h3>
                {{!-- <img src="{{this.imagePlan}}" alt="Plan Image" width="300"> --}}
                <h4><b>Description:</b></h4>
                <p>{{this.description}}</p>
                <li><a href="/plans/{{this._id}}">Read More<i class="icon-arrow-right22"></i></a></li>
                 {{!-- Edit Route --}}
                <form action="/plans/{{this._id}}/update">
                  <button type="submit">EDIT</button>
                </form>
                {{!-- Delete Route --}}
                <form action="/plans/{{this._id}}/delete" method="POST">
                  <button type="submit">DELETE</button>
                </form>
								<ul class="stuff">
									<li><i class="icon-heart2"></i>200</li>
									<li><i class="icon-eye2"></i>248</li>
									<li><i class="icon-download3"></i>240</li>
								</ul>
							</div> 
						</a>
					</div>
				</div>
	{{/each}}			
	