<h1>{{plan.name}}</h1>
{{#if plan.imagePlan}}
  <img src="{{plan.imagePlan}}" alt="Workout Motivation" width="300">
{{else}}
  <p>This plan doesn't have an image</p>
{{/if}}
<br>
<h4>Description: </h4>
<p>{{plan.description}}</p>

{{#if user.isAdmin}}
  <form action="/plans/{{plan._id}}/add-session">
    <button type="submit">Create Session</button>
  </form>
{{/if}}
{{#each plan.sessions}}
  <a href="/session/{{this._id}}/{{this.session}}">Session {{this.session}}</a><br>
{{/each}}
 


